.idea
*.txt
config.yml
*.db
test*
*.csv
*.pbix
*.sql
*.pyc


# Ignorar entorno virtual
my_env/
env/
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración locales
*.env

# Archivos del sistema
.DS_Store
